<footer class="foot">
  <img class="lockup" src="/assets/cfw_lockup_horizontal_reversed.svg" alt="CrossFit Warrington" loading="lazy">
  <strong class="foot__claim">{{site.claim}}</strong><br>
  {{site.address}} · <a class="foot__dir" href="https://www.google.com/maps/dir/?api=1&amp;destination=CrossFit%20Warrington%2C%2014%20Greys%20Court%2C%20Kingsland%20Grange%2C%20Warrington%20WA1%204SH" target="_blank" rel="noopener">Get directions</a><br>
  Call us on: <a href="tel:{{phone_tel}}">{{site.phone}}</a> · <a href="{{whatsapp_url}}">WhatsApp {{site.whatsapp}}</a> · <a href="mailto:{{site.email}}">{{site.email}}</a><br>
  {{site.hours}}<br>
  Follow us: <a href="{{site.instagram}}" target="_blank" rel="noopener">Instagram @crossfit_warrington</a> · <a href="{{site.facebook}}" target="_blank" rel="noopener">Facebook</a> · <a href="{{site.youtube}}" target="_blank" rel="noopener">YouTube</a><br>
  More: <a href="/memberships">Memberships</a> · <a href="/crossfit-classes">CrossFit classes</a> · <a href="/experienced-in-crossfit">Experienced in CrossFit</a> · <a href="/what-is-crossfit">What is CrossFit?</a> · <a href="/can-i-do-crossfit">Can I do CrossFit?</a> · <a href="/because-of-crossfit">Because of CrossFit</a> · <a href="/meet-our-coaches">Coaches</a> · <a href="/team-training">Team training</a> · <a href="/shop">Shop</a> · <a href="/faqs">FAQs</a><br>
  <a href="/code-of-conduct">Code of conduct</a> · <a href="/privacy-policy">Privacy policy and terms</a><br>
  All Licensed Marks are used under licence from CrossFit® LLC. CF Warrington Ltd, company number 13797051.
</footer>
